section{
    width: 100%;
    min-height: 90dvh;
    padding: 24px;
}
h3{ color: var(--blue); width: 100%; text-align: left; }
main{ width: 50%;box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1); }
article{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.text-info{
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    padding: 24px 0;
    border-bottom: 1px dashed var(--black);
}
.text-info span, form label{ font-weight: 600; }
.text-info svg{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

form{ width: 100%; }
form svg{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.label-form, .input-form, .invalid-field{ width: 100%; }
.label-form svg{ fill: var(--blue); }
.invalid-field svg{ fill: var(--red); }
.invalid-field label{ color: var(--red); }

@media(min-width : 300px) and (max-width : 600px){
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    main{ width: 100%; }
    article{ 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text-info{
        min-height: 100px;
        max-height: 100px auto;
        padding: 12px 0;
    }
}

@media(min-width : 601px) and (max-width : 800px){
    main{ width: 90%; }
}

@media(min-width : 801px) and (max-width : 1100px){
    main{ width: 70%; }
}