section{
    width: 100%;
    padding: 24px;
    min-height: 90dvh;
}
main{ width: 100%; }
h3{ color: var(--blue); text-align: left; width: 100%; }
span{ width: 100%; }

.btn-prim svg{
    fill: var(--white);
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.filters{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.actions button, .actions select{ margin-left: 16px; }
.input-search{
    width: 40%;
}
.btn-edit svg{ fill: var(--blue); }

main{ width: 100%; }

@media(min-width : 300px) and (max-width : 500px){
    .filters, .actions{
        flex-direction: column;
    }
    .filters, .actions, .input-search{ width: 100%; }
    .actions button, .actions select{ margin: 0 0 16px 0; width: 100%; }
    main{
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}
@media(min-width : 501px) and (max-width : 800px){
    .filters{
        flex-direction: column;
    }
    .actions{
        flex-wrap: wrap;
    }
    .filters, .actions, .input-search{ width: 100%; }
    .actions select{ margin: 0 0 16px 0; width: calc(50% - 8px) }
    .actions button{ margin: 0 0 16px 0; width: calc(50% - 8px) }
    .actions button:nth-child(1), .actions select:nth-child(3){ margin-right: 16px; }
    main{
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}
@media(min-width : 801px) and (max-width : 1300px){
    .filters{ width: 100%; flex-direction: column; }
    .actions{ width: 100%; margin-bottom: 16px; }
    .input-search{ width: 60%; }
    main{
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}