section{ width: 100%; min-height: 90dvh; }
article{ width: 100%; }
h3{ color: var(--blue);  width: 100%; text-align: left; }
span { width: 100%; text-align: left; }
.btn-prim svg{
    fill: var(--white);
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.actions{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.actions .input-search{ min-width: 400px; }
.actions .btn-actions{
    display: flex;
    align-items: center;
}
.actions .btn-actions button:nth-child(2){
    margin: 0 16px;
}

main{ width: 100%; }

@media(min-width : 300px) and (max-width : 500px){
    .actions{ flex-direction: column-reverse; }
    .actions .btn-actions{ flex-direction: column; width: 100%; }
    .actions .btn-actions button{ width: 100%; margin: 0 0 24px 0 }
    .actions .input-search{ padding-bottom: 24px; min-width: 100%; }
    main{
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}
@media(min-width : 501px) and (max-width : 950px){
    .actions{ flex-direction: column-reverse; }
    .actions .btn-actions{ width: 100%; justify-content: space-between; }
    .actions .btn-actions button{ width: 50%; }
    .actions .btn-actions button:nth-child(2){
        margin: 0 0 0 16px;
    }
    .actions .input-search{ padding-bottom: 24px; min-width: 100%; }
    main{
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}