<article class="center-center-column pd-24">
    <h3 class="title-3 mb-24"> Registrar nuevo alumno asesorado </h3>

    <form action="">

        <div class="label-form center-start-row mb-16">
            <svg width="32" height="32" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 3a3.75 3.75 0 1 1 0 7.5A3.75 3.75 0 0 1 12 3Zm0-1.5A5.25 5.25 0 1 0 12 12a5.25 5.25 0 0 0 0-10.5Z"></path>
                <path d="M19.5 22.5H18v-3.75A3.75 3.75 0 0 0 14.25 15h-4.5A3.75 3.75 0 0 0 6 18.75v3.75H4.5v-3.75a5.25 5.25 0 0 1 5.25-5.25h4.5a5.25 5.25 0 0 1 5.25 5.25v3.75Z"></path>
            </svg>
            <label>Nombre del alumno:</label>
        </div>

        <input class="input-form mb-24" type="text">

        <div class="label-form center-start-row mb-16">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 4.5v15H3v-15h18ZM21 3H3a1.5 1.5 0 0 0-1.5 1.5v15A1.5 1.5 0 0 0 3 21h18a1.5 1.5 0 0 0 1.5-1.5v-15A1.5 1.5 0 0 0 21 3Z"></path>
                <path d="M9.75 7.5H4.5V9h5.25V7.5Z"></path>
                <path d="M7.5 10.5h-3V12h3v-1.5Z"></path>
                <path d="M17.25 13.5h-4.5a2.25 2.25 0 0 0-2.25 2.25v1.5H12v-1.5a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v1.5h1.5v-1.5a2.25 2.25 0 0 0-2.25-2.25Z"></path>
                <path d="M15 12.75a3 3 0 1 0 0-5.999 3 3 0 0 0 0 5.999Zm0-4.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"></path>
            </svg>
            <label>Numero de control:</label>
        </div>

        <input class="input-form mb-24" type="text">

        <div class="btn-options center-evenly-row">
            <button class="btn-sec hover"> Cancelar </button>
            <button class="btn-prim hover"> Buscar </button>
        </div>
    </form>
</article>