<h3 class="title-3 mt-24 mb-24"> Información de tesis </h3>
    
<!-- Si el alumno ya tiene una tesis registrada  -->
@if(studentWithTesis()){
    <div class="option mb-24">
        <p class="text-normal"> Titulo: </p>
        <span class="text-normal"> {{tesis.titulo}} </span>
    </div>

    <div class="option mb-24">
        <p class="text-normal"> Estatus: </p>
        <span class="text-normal"> {{tesis.estatus}} </span>
    </div>
    <div class="option mb-24">
        <p class="text-normal"> Fecha registro: </p>
        <span class="text-normal"> {{tesis.fechaInicio}} </span>
    </div>
    <div class="option mb-24">
        <p class="text-normal"> Editar tesis: </p>
        <button class="btn-sec hover" (click)="openDialogEditTesis()"> 
            Editar información
        </button>
    </div>
<!-- Si el alumno no tiene tesis pero si tiene asignado un asesor -->
}@else if(!withoutAdvisor()){
    <div class="option mb-24">
        <p class="text-normal"> Tesis: </p>
        <button class="btn-sec hover" (click)="openDialogTesis()"> 
            Registrar
        </button>
    </div>
}
<mat-divider></mat-divider>
<h3 class="title-3 mt-24 mb-24"> Publicación en revista </h3>
@if(studentWithPublication()){
    <div class="option mb-24">
        <p class="text-normal"> Nombre de la revista: </p>
        <span class="text-normal"> {{publication.revista}} </span>
    </div>

    <div class="option mb-24">
        <p class="text-normal"> Fecha publicación: </p>
        <span class="text-normal"> {{publication.fechaPublicacion}} </span>
    </div>
    <div class="option mb-24">
        <p class="text-normal"> Link publicación: </p>
        <a class="btn-link center-center-row text-small" href={{publication.url}} target="_blank">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.938 5.074a4.5 4.5 0 0 0-6.375 0l1.065 1.065a3.007 3.007 0 1 1 4.252 4.252l-6 6a3.004 3.004 0 1 1-4.252-4.245l1.057-1.065-1.057-1.065-1.065 1.065a4.5 4.5 0 0 0 0 6.375 4.5 4.5 0 0 0 3.187 1.297 4.499 4.499 0 0 0 3.203-1.32l6-6a4.5 4.5 0 0 0-.015-6.36Z"></path>
              <path d="M3.142 18.618a3 3 0 0 1 0-4.253l6-6a3 3 0 0 1 4.253 0 2.957 2.957 0 0 1 .855 2.138 3 3 0 0 1-.878 2.137l-1.59 1.613 1.065 1.065 1.59-1.59a4.513 4.513 0 0 0-6.382-6.383l-6 6a4.5 4.5 0 0 0 0 6.383 4.5 4.5 0 0 0 3.195 1.275 4.553 4.553 0 0 0 3.21-1.32l-1.065-1.065a2.999 2.999 0 0 1-4.253 0Z"></path>
            </svg>
            
            Link publicación
        </a>
    </div>
    <div class="option mb-24">
        <p class="text-normal"> Editar publicación: </p>
        <button class="btn-sec hover" (click)="openDialogEditPublication()"> 
            Editar información
        </button>
    </div>
}@else if(!studentWithPublication()){
    <div class="option mb-24">
        <p class="text-normal"> Publicación: </p>
        <button class="btn-sec hover" (click)="openDialogPublication()"> 
            Registrar
        </button>
    </div>
}

<mat-divider></mat-divider>
<h3 class="title-3 mt-24 mb-24"> Información de asesor/a </h3>
<div class="option mb-24">
    <p class="text-normal"> Nombre: </p>
    <span class="text-normal"> {{advisorName}} </span>
</div>
<div class="option mb-24">
    <p class="text-normal"> Correo: </p>
    <span class="text-normal"> {{advisorEmail}} </span>
</div>
<div class="option mb-24">
    <p class="text-normal"> Fecha asignación: </p>
    <span class="text-normal"> {{dateAssignment}} </span>
</div>
<mat-divider></mat-divider>