article{
    padding: 24px;
}
svg{
    width: 64px;
    height: 64px;
    fill: var(--red);
    animation: 1s bounce;
}
p{
    word-break: break-all;
    text-align: center;
}
.btn-options{ width: 100%; }
.btn-options button:nth-child(2){ background-color: var(--red); }
button:hover{ cursor: pointer; transform: scale(1.01); }