article{
    padding: 24px;
}
svg{
    width: 64px;
    height: 64px;
    fill: var(--orange);
    animation: 1s bounce;
}
p{
    word-break: break-word;
    text-align: center;
}
.btn-options{ width: 100%; }
button:hover{ cursor: pointer; transform: scale(1.01); }