section{
    width: 100%;
    padding: 24px;
    min-height: 90dvh;
}
main{ width: 100% }
h3{ color: var(--blue); }
h3, span{ width: 100%; text-align: left; }

.filters{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.filters .btn-filter{
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 8px;
    text-align: center;
}
.filters .filter-selected{
    border: 1px solid var(--black);
}
.filters button:nth-child(2){ background-color: rgb(187 247 208); color: rgb(22 101 52); }
.filters button:nth-child(3){ background-color: rgb(191 219 254); color: rgb(30 64 175); }
.filters button:nth-child(4) { background-color: rgb(254 240 138); color: rgb(133 77 14); }

article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

@media(min-width : 300px) and (max-width : 500px){
    .filters{ flex-wrap: wrap; }
    .filters .btn-filter{ width: calc(50% - 8px); margin-left: 0; }
    .filters button:nth-child(1), .filters button:nth-child(2){ margin-bottom: 16px; }
    .filters button:nth-child(odd){ margin-right: 8px }
    .filters button:nth-child(even){ margin-left: 8px }
}

@media(min-width : 300px) and (max-width : 700px){
    article{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    article .assignment{ width: 100%; align-items: flex-end; flex-direction: column; }
    article .header-assignment{ flex-direction: column; align-items: flex-start; }
    article .header-assignment span{ margin-top: 8px; width: 100%; max-width: 100%; text-align: start; justify-content: flex-start; }

    article .assignment:nth-child(even){ margin-top: 16px; }
    .assignment:nth-child(odd){ margin-right: 0px; }
    .assignment:nth-child(even){ margin-left: 0px; }
}