<section class="center-center-column pd-24">
    <article class="center-center-column container pd-24">
        <h3 class="title-3 mb-24"> Alumnos </h3>
        <span class="text-normal mb-24"> Informacion correspondiente a los alumnos registrados en el sistema de posgrado </span>

        <div class="filters mb-24">
          <div class="actions">
            <button class="btn-prim center-center-row hover" 
            [disabled]="students.length === 0"
            (click)="downloadStudents()">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.5 18v3h-15v-3H3v3a1.5 1.5 0 0 0 1.5 1.5h15A1.5 1.5 0 0 0 21 21v-3h-1.5Z"></path>
                  <path d="m19.5 10.5-1.058-1.057-5.692 5.684V1.5h-1.5v13.627L5.558 9.444 4.5 10.5 12 18l7.5-7.5Z"></path>
              </svg>
              <span class="text-small">Descargar PDF</span>
            </button>

            <button class="btn-prim center-center-row hover" (click)="redirecToRegister()">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M24 10.5h-3v-3h-1.5v3h-3V12h3v3H21v-3h3v-1.5Z"></path>
                  <path d="M9 3a3.75 3.75 0 1 1 0 7.5A3.75 3.75 0 0 1 9 3Zm0-1.5A5.25 5.25 0 1 0 9 12 5.25 5.25 0 0 0 9 1.5Z"></path>
                  <path d="M16.5 22.5H15v-3.75A3.75 3.75 0 0 0 11.25 15h-4.5A3.75 3.75 0 0 0 3 18.75v3.75H1.5v-3.75a5.25 5.25 0 0 1 5.25-5.25h4.5a5.25 5.25 0 0 1 5.25 5.25v3.75Z"></path>
              </svg>
              <span class="text-small">Registrar</span>
            </button>

            <select class="select-filter" [(ngModel)]="periodo" (ngModelChange)="getStudentsList()" [ngModelOptions]="{standalone: true}">
              @for(period of periods; track $index; let i = $index;){
                <option [value]="period._id">{{period.periodo}}</option>
              }
            </select>
          </div>

          <div class="input-search">
              <input 
              type="text"
              [(ngModel)]="searchTerm" 
              (input)="onSearch(searchTerm)" 
              placeholder="Buscar por nombre o correo">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m21.75 20.692-5.664-5.664a8.264 8.264 0 1 0-1.06 1.061l5.664 5.664 1.06-1.06ZM3 9.753a6.75 6.75 0 1 1 6.75 6.75A6.758 6.758 0 0 1 3 9.753Z"></path>
              </svg>
          </div>
        </div>

        @if(students.length >= 1){
          @defer(on timer(2000ms)){
            <main class="mb-16">
              <table>
                <thead>
                  <tr>
                    <th class="text-normal">No</th>
                    <th class="text-normal">Nombre</th>
                    <th class="text-normal">Numero control</th>
                    <th class="text-normal">Correo</th>
                    <th class="text-normal">Fecha</th>
                    <th class="text-normal">Cuenta</th>
                    <th class="text-normal">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  @for(student of students; track $index; let i = $index){
                    <tr>
                      <td class="text-small">{{(pagination.page - 1) * pagination.pageSize + $index + 1 }}</td>
                      <td class="text-small">{{student.nombre}}</td>
                      <td class="text-small">{{student.numeroControl}}</td>
                      <td class="text-small">{{student.correo}}</td>
                      <td class="text-small">{{student.fechaRegistro}}</td>
                      <td class="text-small">{{student.estatusCuenta}}</td>
                      <td class="text-small">
                        <button class="btn-icon hover" 
                        (click)="deleteStudent(student._id)"
                        matTooltip="Eliminar alumno"> 
                          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 9H9v9h1.5V9Z"></path>
                            <path d="M15 9h-1.5v9H15V9Z"></path>
                            <path d="M3 4.5V6h1.5v15A1.5 1.5 0 0 0 6 22.5h12a1.5 1.5 0 0 0 1.5-1.5V6H21V4.5H3ZM6 21V6h12v15H6Z"></path>
                            <path d="M15 1.5H9V3h6V1.5Z"></path>
                          </svg>
                        </button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </main>
            
            @if(pagination.totalPages > 1){
              <div class="pagination center-center-row">
                <button class="btn-prev" 
                [disabled]="pagination.page === 1" 
                (click)="changePage(pagination.page - 1)">
                Ant
                </button>
                @for (page of pages; track $index){
                  <button [ngClass]="pagination.page === page ? 'btn-page current-page'  : 'btn-page'"
                  (click)="changePage(page)">
                    {{page}}
                  </button>
                }
                <button class="btn-next" 
                [disabled]="pagination.totalPages === pagination.page"
                (click)="changePage(pagination.page + 1)">
                Sig
                </button>
              </div>
            }
          }@placeholder(minimum 2s;){
            <div class="center-center-column loading">
              <div class="loader"></div>
              <span class="text-small mt-24"> Cargando informacion  </span>
            </div>
          }
        }@else if (students.length === 0 && requestCompleted()){
          <div class="center-center-column empty">
            <span class="text-small"> No hay alumnos registrados </span>
          </div>
        }

    </article>
</section>