<section class="center-center-column pd-24">
    <article class="center-center-column container pd-24">
        <h3 class="title-3 mb-24"> Registro de alumnos </h3>
        <span class="text-normal mb-24">
            Ingresa la informacion correspondiente al nuevo alumno para registrarlo en el sistema o sube un archivo (CSV)
            para registrar varios alumnos.
        </span>

        <div class="actions mb-24">
            <div class="btn-actions">
                <button class="btn-prim center-center-row hover" (click)="openDialogUpload()">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m4.5 13.5 1.058 1.057 5.692-5.684V22.5h1.5V8.873l5.692 5.684L19.5 13.5 12 6l-7.5 7.5Z"></path>
                        <path d="M4.5 6V3h15v3H21V3a1.5 1.5 0 0 0-1.5-1.5h-15A1.5 1.5 0 0 0 3 3v3h1.5Z"></path>
                    </svg>
                    Subir archivo
                </button>
            </div>
        </div>

        <form [formGroup]="registerStudentForm" class="center-center-column">
    
            <div [ngClass]="nameInvalid() ? 'label-form invalid-field center-start-row mb-16'  : 'label-form center-start-row mb-16'">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 3a3.75 3.75 0 1 1 0 7.5A3.75 3.75 0 0 1 12 3Zm0-1.5A5.25 5.25 0 1 0 12 12a5.25 5.25 0 0 0 0-10.5Z"></path>
                    <path d="M19.5 22.5H18v-3.75A3.75 3.75 0 0 0 14.25 15h-4.5A3.75 3.75 0 0 0 6 18.75v3.75H4.5v-3.75a5.25 5.25 0 0 1 5.25-5.25h4.5a5.25 5.25 0 0 1 5.25 5.25v3.75Z"></path>
                </svg>
                <label>Nombre:</label>
            </div>
    
            <input class="input-form mb-24" type="text" formControlName="nombre">

            <div [ngClass]="controlNumberInvalid() ? 'label-form invalid-field center-start-row mb-16'  : 'label-form center-start-row mb-16'">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 4.5v15H3v-15h18ZM21 3H3a1.5 1.5 0 0 0-1.5 1.5v15A1.5 1.5 0 0 0 3 21h18a1.5 1.5 0 0 0 1.5-1.5v-15A1.5 1.5 0 0 0 21 3Z"></path>
                    <path d="M9.75 7.5H4.5V9h5.25V7.5Z"></path>
                    <path d="M7.5 10.5h-3V12h3v-1.5Z"></path>
                    <path d="M17.25 13.5h-4.5a2.25 2.25 0 0 0-2.25 2.25v1.5H12v-1.5a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v1.5h1.5v-1.5a2.25 2.25 0 0 0-2.25-2.25Z"></path>
                    <path d="M15 12.75a3 3 0 1 0 0-5.999 3 3 0 0 0 0 5.999Zm0-4.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"></path>
                </svg>
                <label>Numero de control:</label>
            </div>
    
            <input class="input-form mb-24" type="text" formControlName="numeroControl">
    
            <div [ngClass]="emailInvalid() ? 'label-form invalid-field center-start-row mb-16'  : 'label-form center-start-row mb-16'">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2.252a9.69 9.69 0 0 0-9.75 9.75v.75a9.75 9.75 0 0 0 9.75 9.75h5.25v-1.5H12a8.25 8.25 0 0 1-8.25-8.25v-.75A8.205 8.205 0 0 1 12 3.752a7.98 7.98 0 0 1 8.25 8.25c0 2.693-1.05 3.75-2.745 3.75-1.185 0-1.755-.967-1.755-2.25v-6h-1.5v1.455a2.88 2.88 0 0 0-2.625-1.455 4.11 4.11 0 0 0-4.125 4.08v1.59a4.11 4.11 0 0 0 4.125 4.08 3.21 3.21 0 0 0 3-1.845 3.263 3.263 0 0 0 2.933 1.845c2.302 0 4.192-1.5 4.192-5.25A9.54 9.54 0 0 0 12 2.252Zm2.25 10.92a2.625 2.625 0 0 1-5.25 0v-1.59a2.625 2.625 0 1 1 5.25 0v1.59Z"></path>
                </svg>
                <label>Correo electronico:</label>
            </div>
    
            <input class="input-form mb-24" type="email" autocomplete="new-user" formControlName="correo">

            <div [ngClass]="passwordInvalid() ? 'label-form invalid-field center-start-row mb-16'  : 'label-form center-start-row mb-16'">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.125 6.75a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z"></path>
                    <path d="M10.81 15H6.75v-4.06l4.523-4.523A4.03 4.03 0 0 1 11.25 6a4.5 4.5 0 1 1 4.5 4.5 3.87 3.87 0 0 1-.417-.023L10.811 15Zm-2.56-1.5h1.94l4.627-4.628.388.072a3.038 3.038 0 1 0-2.399-2.398l.072.387L8.25 11.56v1.94Z"></path>
                    <path d="M21 15h-6.75v1.5H21V21H3v-4.5h1.5V15H3a1.502 1.502 0 0 0-1.5 1.5V21A1.502 1.502 0 0 0 3 22.5h18a1.502 1.502 0 0 0 1.5-1.5v-4.5A1.502 1.502 0 0 0 21 15Z"></path>
                    <path d="M5.25 19.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"></path>
                </svg>
                <label>Contraseña:</label>
            </div>
    
            <div class="password-form center-start-row mb-24">
                <input 
                class="input-form" 
                formControlName="password"
                [type]="showPassword() ? 'text' : 'password'"
                autocomplete="new-password"
                matTooltip="Minimo 1 mayuscula, 1 minuscula, 1 numero y 8 caracteres de longuitud">
    
                <button (click)="togglePassword()">
                    @if(!showPassword()){
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.205 11.745A12.517 12.517 0 0 0 12 3.75 12.518 12.518 0 0 0 .795 11.745a.75.75 0 0 0 0 .51A12.517 12.517 0 0 0 12 20.25a12.517 12.517 0 0 0 11.205-7.995.75.75 0 0 0 0-.51ZM12 18.75c-3.975 0-8.175-2.947-9.698-6.75C3.825 8.197 8.025 5.25 12 5.25c3.975 0 8.175 2.947 9.697 6.75-1.522 3.803-5.722 6.75-9.697 6.75Z"></path>
                                <path d="M12 7.5a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9Zm0 7.5a3 3 0 1 1 0-5.999A3 3 0 0 1 12 15Z"></path>
                            </svg>
                    }@else{
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="m3.93 16.883 1.072-1.065A10.545 10.545 0 0 1 2.302 12C3.825 8.197 8.025 5.25 12 5.25a9.285 9.285 0 0 1 3 .54l1.162-1.17A11.04 11.04 0 0 0 12 3.75 12.518 12.518 0 0 0 .795 11.745a.75.75 0 0 0 0 .51 12 12 0 0 0 3.135 4.627Z"></path>
                                <path d="M9 11.796a3 3 0 0 1 2.775-2.775l1.357-1.365a4.5 4.5 0 0 0-5.497 5.498L9 11.796Z"></path>
                                <path d="M23.205 11.745a12.3 12.3 0 0 0-4.305-5.58l3.6-3.607L21.442 1.5 1.5 21.442 2.558 22.5l3.825-3.825A11.47 11.47 0 0 0 12 20.25a12.517 12.517 0 0 0 11.205-7.995.75.75 0 0 0 0-.51ZM15 12a3 3 0 0 1-4.5 2.58l4.08-4.08A3 3 0 0 1 15 12Zm-3 6.75a9.788 9.788 0 0 1-4.5-1.185l1.905-1.905a4.5 4.5 0 0 0 6.263-6.262l2.152-2.153A10.906 10.906 0 0 1 21.698 12c-1.523 3.803-5.723 6.75-9.698 6.75Z"></path>
                        </svg>
                    }   
                </button>
            </div>

            <div [ngClass]="periodInvalid() ? 'label-form invalid-field center-start-row mb-16'  : 'label-form center-start-row mb-16'">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5 3h-3V1.5H15V3H9V1.5H7.5V3h-3C3.675 3 3 3.675 3 4.5v15c0 .825.675 1.5 1.5 1.5h15c.825 0 1.5-.675 1.5-1.5v-15c0-.825-.675-1.5-1.5-1.5Zm0 16.5h-15V9h15v10.5Zm0-12h-15v-3h3V6H9V4.5h6V6h1.5V4.5h3v3Z"></path>
                </svg>
                <label>Periodo:</label>
            </div>

            <select class="input-form mb-24" [(ngModel)]="periodo" [ngModelOptions]="{standalone: true}">
                @for(period of periods; track $index; let i = $index;){
                    <option [value]="period._id">{{period.periodo}}</option>
                }
            </select>
            
            <div class="btn-options center-evenly-row">
                <button class="btn-sec hover" (click)="backToStudentsPage()"> Cancelar </button>
                <button class="btn-prim hover" (click)="validateForm()"> Registrar </button>
            </div>
        </form>
    </article>
</section>