<section class="center-start-column" >
    <main class="center-center-column container pd-24">
        <h3 class="title-3 mb-24"> Asignaciones </h3>
        <span class="text-normal mb-24"> 
            Listado de asignaciones del periodo {{period}}
        </span>

        <div class="filters mb-24">
          <div class="actions">
                <button (click)="newAssignment()" class="btn-prim center-center-row hover">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.25 18h-3v-3h-1.5v3h-3v1.5h3v3h1.5v-3h3V18Z"></path>
                        <path d="M18.75 3.75H16.5V3A1.504 1.504 0 0 0 15 1.5H9A1.504 1.504 0 0 0 7.5 3v.75H5.25a1.504 1.504 0 0 0-1.5 1.5V21a1.504 1.504 0 0 0 1.5 1.5h7.5V21h-7.5V5.25H7.5V7.5h9V5.25h2.25V12h1.5V5.25a1.504 1.504 0 0 0-1.5-1.5ZM15 6H9V3h6v3Z"></path>
                    </svg>
                    Nueva asignación
                </button>

                <select class="select-filter" [(ngModel)]="period" (ngModelChange)="getAssignments()" [ngModelOptions]="{standalone: true}">
                    @for(period of periods; track $index; let i = $index;){
                        <option [value]="period.periodo">{{period.periodo}}</option>
                    }
                </select>
          </div>
        </div>
        
        @if(assignments.length >= 1 || !requestCompleted()){
            @defer(on timer(2000ms)){
                <main class="mb-24">
                    <table>
                      <thead>
                        <tr>
                          <th class="text-normal">No</th>
                          <th class="text-normal">Actividad</th>
                          <th class="text-normal">Descripcion</th>
                          <th class="text-normal">Asignacion </th>
                          <th class="text-normal">Entrega</th>
                          <th class="text-normal">Periodo</th>
                          <th class="text-normal">Alumnos</th>
                          <th class="text-normal">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for(assignment of assignments; track $index; let i = $index){
                          <tr>
                            <td class="text-small">{{ (pagination.page - 1) * pagination.pageSize + $index + 1 }}</td>
                            <td class="text-small">{{ assignment.nombre }}</td>
                            <td class="text-small">{{ assignment.descripcion }}</td>
                            <td class="text-small">{{ assignment.fechaAsignacion }}</td>
                            <td class="text-small">{{ assignment.fechaLimite }}</td>
                            <td class="text-small">{{ assignment.periodo }}</td>
                            <td class="text-small">{{ assignment.alumnos.length }}</td>
                            <td>
                              <button class="btn-icon hover" 
                              (click)="deleteAssignment(assignment._id)"
                              matTooltip="Eliminar asignacion"> 
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M10.5 9H9v9h1.5V9Z"></path>
                                  <path d="M15 9h-1.5v9H15V9Z"></path>
                                  <path d="M3 4.5V6h1.5v15A1.5 1.5 0 0 0 6 22.5h12a1.5 1.5 0 0 0 1.5-1.5V6H21V4.5H3ZM6 21V6h12v15H6Z"></path>
                                  <path d="M15 1.5H9V3h6V1.5Z"></path>
                                </svg>
                              </button>

                              <button class="btn-icon btn-edit hover" 
                              (click)="editAssignment(assignment._id)"
                              matTooltip="Editar asignacion"> 
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M22.5 19.5h-21V21h21v-1.5Z"></path>
                                  <path d="M19.05 6.75c.6-.6.6-1.5 0-2.1l-2.7-2.7c-.6-.6-1.5-.6-2.1 0L3 13.2V18h4.8L19.05 6.75ZM15.3 3 18 5.7l-2.25 2.25-2.7-2.7L15.3 3ZM4.5 16.5v-2.7L12 6.3 14.7 9l-7.5 7.5H4.5Z"></path>
                                </svg>
                              </button>

                              <button class="btn-icon btn-view hover" 
                              (click)="redirectRevisions(assignment._id)"
                              matTooltip="Ver entregas"> 
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M16.5 19.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                                  <path d="M22.333 17.609A6.48 6.48 0 0 0 16.5 13.5a6.48 6.48 0 0 0-5.833 4.109L10.5 18l.167.391A6.48 6.48 0 0 0 16.5 22.5a6.48 6.48 0 0 0 5.833-4.109L22.5 18l-.167-.391ZM16.5 21a3 3 0 1 1 0-5.999 3 3 0 0 1 0 5.999Z"></path>
                                  <path d="M9 21H5.25V5.25H7.5V7.5h9V5.25h2.25V12h1.5V5.25a1.5 1.5 0 0 0-1.5-1.5H16.5V3A1.5 1.5 0 0 0 15 1.5H9A1.5 1.5 0 0 0 7.5 3v.75H5.25a1.5 1.5 0 0 0-1.5 1.5V21a1.5 1.5 0 0 0 1.5 1.5H9V21ZM9 3h6v3H9V3Z"></path>
                                </svg>
                              </button>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                </main>
    
                @if(pagination.totalPages > 1){
                  <div class="pagination center-center-row">
                    <button class="btn-prev" 
                    [disabled]="pagination.page === 1" 
                    (click)="changePage(pagination.page - 1)">
                    Ant
                    </button>
                    @for (page of pages; track $index){
                      <button [ngClass]="pagination.page === page ? 'btn-page current-page'  : 'btn-page'"
                      (click)="changePage(page)">
                        {{page}}
                      </button>
                    }
                    <button class="btn-next" 
                    [disabled]="pagination.totalPages === pagination.page"
                    (click)="changePage(pagination.page + 1)">
                    Sig
                    </button>
                  </div>
                }
            }@placeholder(minimum 2s;){
              <div class="center-center-column loading">
                <div class="loader"></div>
                <span class="text-small mt-24"> Cargando informacion  </span>
              </div>
            }
        }
        @if (assignments.length === 0 && requestCompleted()){
          <div class="center-center-column empty">
            <span class="text-small"> Por el momento no hay asignaciones registradas en este periodo </span>
          </div>
        }
    </main>
</section>