section{ width: 100%; }
article{ width: 100%; }
h3{ color: var(--blue);  width: 100%; text-align: left; }
article > span { width: 100%; text-align: left; }
.btn-prim svg{
    fill: var(--white);
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.actions{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.actions span{ width: auto; }
.actions select{
    margin: 0 0 0 16px;
}
main{ width: 100%; }
.btn-icon svg{ fill: var(--blue); }
.btn-icon-red svg{ fill: var(--red); }

.btn-link{
    background-color: var(--white);
    color: var(--blue);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn-link svg{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    fill: var(--blue);
}

@media(min-width : 300px) and (max-width : 500px){
    .actions{ flex-direction: column-reverse; }
    .actions button, .actions select{ width: 100%; margin: 0 0 24px 0 }
    .actions .input-search{ padding-bottom: 24px; min-width: 100%; width: 100%; }
    main{
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}
@media(min-width : 501px) and (max-width : 700px){
    main{
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}
@media(min-width : 701px) and (max-width : 1000px){
    main{
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}
@media(min-width : 1001px) and (max-width : 1200px){
    main{
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}