/* Estilos para botones */

.btn-prim{
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 4px;
}
.btn-sec{
    background-color: transparent;
    color: var(--blue);
    padding: 7px 16px;
    border: 1px solid var(--blue);
    border-radius: 4px;
}
.hover:hover:not(:disabled){ cursor: pointer; transform: scale(1.01); }
button:disabled{ opacity: 0.8; cursor: not-allowed;  }