/* Estilos para botones */

.btn-prim{
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 4px;
}
.btn-sec{
    background-color: transparent;
    color: var(--blue);
    padding: 7px 16px;
    border: 1px solid var(--blue);
    border-radius: 4px;
}
.btn-icon{
    padding: 4px 8px;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    offset: none;
    border: none;
}
.btn-icon svg{
    width: 20px;
    height: 20px;
    fill: var(--red);
}
.btn-prev, .btn-next, .btn-page{
    color: var(--black);
    font-weight: 500;
    padding: 4px;
    background-color: transparent;
}
.btn-prev, .btn-next{
    padding: 4px 8px;
}
.current-page{
    border: 1px solid var(--black);
    border-radius: 4px;
    padding: 4px 8px;
}
/* Estilos para botones del paginado deshabilitados */
.btn-page:hover:not(:disabled), .btn-next:hover:not(:disabled), .btn-prev:hover:not(:disabled){
    cursor: pointer;
    border-bottom: 1px solid var(--black);
    transform: scale(1.01);
    padding-bottom: 3px;
}
.btn-next:disabled, .btn-prev:disabled{ color: var(--gray); border: none;  }
.btn-icon:disabled svg{ fill: var(--black); }
/* Estilo hover para botones que no esten deshabilitados */
.hover:hover:not(:disabled){ cursor: pointer; transform: scale(1.01); }
button:disabled{ opacity: 0.8; cursor: not-allowed;  }

@media (min-width: 300px) and (max-width : 600px){
    .btn-prim svg{
        width: 16px;
        height: 16px;
        max-width: 16px;
        max-height: 16px;
    }
}