/* Flex layouts */
.center-center-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.center-between-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.center-evenly-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.center-start-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.center-end-row{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.start-center-row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.center-center-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.center-start-column{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.start-center-column{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.center-evenly-column{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}