<section class="center-center-column pd-24">
    <article class="center-center-column container pd-24">
        <mat-list>
            <div class="header-profile mb-24">
                <img src="../../../../assets/gojo.webp" alt="user-picture" class="img-profile">
    
                <div class="data-profile">
                    <h3 class="title-3 mb-16"> Jonathan Espinosa Garcia </h3>
                    <p class="text-normal"> Estudiante de posgrado </p>
                </div>
            </div>

            <mat-divider></mat-divider>

            <h3 class="title-3 mt-24 mb-24"> Informacion de la cuenta </h3>

            <div class="option mb-24">
                <p class="text-normal"> Correo: </p>
                <span class="text-normal"> 19680135cuautla.tecnm.mx </span>
            </div>

            <div class="option mb-24">
                <p class="text-normal"> Fecha registro: </p>
                <span class="text-normal"> 29/05/2000 </span>
            </div>

            <div class="option">
                <p class="text-normal"> Contraseña: </p>
                <button class="btn-prim"> Cambiar </button>
            </div>
        </mat-list>
    </article>
</section>