<section class="center-center-column pd-24">
    <article class="container pd-24">
        <header class="center-center-column mb-24">
            <svg class="img-profile mb-24"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.062 18.697A10.492 10.492 0 1 0 1.5 12c0 2.45.864 4.82 2.438 6.697l-.015.013c.053.063.113.117.167.18.067.077.14.15.21.225.21.227.426.446.652.652.07.063.14.121.21.181.24.207.487.403.743.587.033.023.062.052.096.075v-.01a10.426 10.426 0 0 0 12 0v.01c.033-.024.062-.052.095-.076.256-.183.503-.379.743-.586.07-.06.141-.119.21-.18.227-.207.442-.426.652-.653.07-.076.142-.148.21-.226.054-.062.114-.116.167-.18l-.016-.012ZM12 6a3.375 3.375 0 1 1 0 6.75A3.375 3.375 0 0 1 12 6ZM6.005 18.697A3.746 3.746 0 0 1 9.75 15h4.5a3.747 3.747 0 0 1 3.745 3.697 8.955 8.955 0 0 1-11.99 0Z"></path>
            </svg>
            <h3 class="title-3 text-center mb-24"> {{user.nombre}} </h3>
            <p class="text-normal mb-24"> {{user.tipoCuenta}} de posgrado </p>
            <button class="btn-sec hover" (click)="openDialogPassword()"> Editar informacion </button>
        </header>

        <div class="data-user">
            <mat-list>
                <h3 class="title-3 mb-24"> Informacion personal </h3>
    
                <div class="option mb-24">
                    <p class="text-normal"> Correo: </p>
                    <span class="text-normal"> {{user.correo}} </span>
                </div>
    
                <div class="option mb-24">
                    <p class="text-normal"> Fecha registro: </p>
                    <span class="text-normal"> {{user.fechaRegistro}}</span>
                </div>
    
                <div class="option mb-24">
                    <p class="text-normal"> Contraseña: </p>
                    <button class="btn-sec hover" (click)="openDialogPassword()"> Editar </button>
                </div>
    
                <mat-divider></mat-divider>

                <h3 class="title-3 mt-24 mb-24"> Informacion de tesis </h3>
    
                <div class="option mb-24">
                    <p class="text-normal"> Titulo: </p>
                    <span class="text-normal"> “SISTEMA WEB DE MONITOREO EDUCATIVO ENFOCADO A 
                        INDICES DE REPROBACION Y DESERCION ESCOLAR”  </span>
                </div>
    
                <div class="option mb-24">
                    <p class="text-normal"> Estatus: </p>
                    <span class="text-normal"> - </span>
                </div>
                    
                <div class="tesis mb-24">
                    <button class="btn-sec hover" (click)="openDialogPassword()"> 
                        Editar datos tesis 
                    </button>
                </div>
    
                <mat-divider></mat-divider>

                <h3 class="title-3 mt-24 mb-24"> Informacion de asesor/a </h3>
    
                <div class="option mb-24">
                    <p class="text-normal"> Nombre: </p>
                    <span class="text-normal"> - </span>
                </div>
    
                <div class="option mb-24">
                    <p class="text-normal"> Correo: </p>
                    <span class="text-normal"> - </span>
                </div>
    
                <div class="option mb-24">
                    <p class="text-normal"> Fecha asignacion: </p>
                    <span class="text-normal"> - </span>
                </div>
    
                <mat-divider></mat-divider>
    
                <h3 class="title-3 mt-24 mb-24"> Informacion de acceso </h3>
    
                <div class="option">
                    <p class="text-normal"> Ultimo acceso: </p>
                    <span class="text-normal"> {{user.sesion.ultimaSesion}} </span>
                </div>
            </mat-list>
        </div>
    </article>
</section>