section{
    width: 100%;
}

article h3:nth-child(2){
    width: 100%;
}

.header-profile{ 
    display: flex;
    align-items: center;
 }
.header-profile h3{ color: var(--blue); }
.img-profile{
    width: 128px;
    height: 128px;
    object-fit: fill;
    border-radius: 100%;
    margin-right: 24px;
}

.edit-profile{ width: 100%; }

.option{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.option p{ color: var(--blue); font-weight: 500; }

@media(min-width : 300px) and (max-width : 500px){
   .header-profile{
    flex-direction: column;
   } 
   .header-profile h3{ margin-top: 24px; margin-bottom: 24px; }
   .header-profile h3, .header-profile p{
    text-align: center;
    width: 100%;
   }
   .option{
    align-items: flex-start;
    flex-direction: column;
   }
   .option p{ margin-bottom: 24px; }
   .option button{ width: 100%; }
}