<article class="center-center-column pd-24">
    <h3 class="title-3 mb-24"> Asignar calificación </h3>

    <form [formGroup]="ratingForm" >

        <div [ngClass]="ratingInvalid() ? 'label-form invalid-field center-start-row mb-16' : 'label-form center-start-row mb-16'">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5 15.001a4.501 4.501 0 1 0-7.5 3.345v5.655l3-1.42 3 1.42v-5.655a4.485 4.485 0 0 0 1.5-3.345Zm-3 6.63-1.5-.71-1.5.71V19.24c.97.35 2.03.35 3 0v2.392Zm-1.5-3.63a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"></path>
                <path d="M18.75 3.75H16.5V3A1.504 1.504 0 0 0 15 1.5H9A1.504 1.504 0 0 0 7.5 3v.75H5.25a1.504 1.504 0 0 0-1.5 1.5V21a1.504 1.504 0 0 0 1.5 1.5H12V21H5.25V5.25H7.5V7.5h9V5.25h2.25V9h1.5V5.25a1.504 1.504 0 0 0-1.5-1.5ZM15 6H9V3h6v3Z"></path>
            </svg>
            <label>Calificación:</label>
        </div>

        <input class="input-form mb-24" formControlName="calificacion" type="number">

        <div class="btn-options center-evenly-row">
            <button class="btn-sec hover" (click)="closeDialog()"> Cancelar </button>
            <button class="btn-prim hover" (click)="validateForm()"> Guardar </button>
        </div>
    </form>
</article>