*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

:root{
    --blue : #1B396A;
    --sky : #40BCD8;
    --black : #1D1A05;
    --gray : #807E82;
    --ligth : #cbcbcb;
    --white : #F2F2F8;
    --red : #9A031E;
    --orange : #FFA62B;
}

/* Escala tipografica y alineacion de texto */

.title-1{ font-size: 37px; }
.title-2{ font-size: 31px; }
.title-3{ font-size: 25px; }
.title-4{ font-size: 21px; }
.text-normal{ font-size: 18px; }
.text-small, .btn-prim, .btn-sec, .input-form, .input-search input, .select-filter, mat-form-field{ font-size: 15px; }
.text-center{ text-align: center; }
.text-justify{ text-align: justify; }

/* Margin y padding */

.pd-24{ padding: 24px; }
.pd-16{ padding: 16px; }
.pd-8{ padding: 8px; }
.mb-24{ margin-bottom: 24px; }
.mb-16{ margin-bottom: 16px; }
.mb-8{ margin-bottom: 8px; }
.mt-24{ margin-top: 24px; }

/* Flex layouts */
.center-center-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.center-between-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.center-evenly-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.center-start-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.center-center-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.center-start-column{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.start-center-column{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.center-evenly-column{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

/* Estilos para contenedor */ 

.container{
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.1);
}

/* Estilos para botones */

.btn-prim{
    background-color: var(--blue);
    color: var(--white);
    padding: 4px 16px;
    border-radius: 4px;
}
.btn-sec{
    background-color: transparent;
    color: var(--blue);
    padding: 3px 16px;
    border: 1px solid var(--blue);
    border-radius: 4px;
}
.hover:hover{ cursor: pointer; transform: scale(1.01); }

/* Estilos para inputs */

.input-form{
    background-color: var(--white);
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid var(--blue);
    outline: none;
    offset: none;
}
.input-search{
    position: relative;
}
.input-search input{
    border-bottom: 1px solid var(--blue);
    padding: 4px;
    text-align: center;
    width: 100%;
    background-color: var(--white);
    outline: none;
    offset: none;
}
.input-search svg{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: var(--white);
}

.select-filter{
    padding: 4px;
    border: 1px solid var(--blue);
    border-radius: 4px;
    background-color: var(--white);
    text-align: center;
}

/* Estilos para tablas */

table{ width: 100%; border-collapse: collapse; }
table th{
    background-color: var(--blue);
    color: var(--white);
    padding: 4px 16px;
    font-weight: 400;
}
table th:nth-child(1){ border-radius: 4px 0 0 0; }
table th:nth-last-child(1){ border-radius: 0 4px 0 0; }
table th, table td{ text-align: center; }
table td{ padding: 4px; }
table tbody tr{ border-bottom: 1px solid var(--black); }
table tbody tr:nth-child(even){ background-color: var(--ligth); color: var(--black); }
.pagination{ width: 100%; }
.pagination button:nth-child(even){ margin: 0 8px; }