*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

:root{
    --blue : #1B396A;
    --sky : #40BCD8;
    --black : #1D1A05;
    --gray : #807E82;
    --ligth : #E8E8E8;
    --white : #FFFFFF;
    --red : #9A031E;
    --orange : #FFA62B;
}

/* Margin y padding */

.pd-24{ padding: 24px; }
.pd-16{ padding: 16px; }
.pd-8{ padding: 8px; }
.mb-24{ margin-bottom: 24px; }
.mb-16{ margin-bottom: 16px; }
.mb-8{ margin-bottom: 8px; }
.mt-24{ margin-top: 24px; }


/* Estilos para contenedor */ 

.container{
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}