<section class="center-start-column pd-24">
    <article class="center-center-column container pd-24">
        <h3 class="title-3 mb-24"> Alumnos asesorados </h3>
        <span class="text-normal mb-24"> Informacion correspondiente de los alumnos asesorados </span>

        <div class="actions mb-24">
            <div class="btn-actions">
                <button class="btn-prim center-center-row hover" [disabled]="adviseds.length === 0">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 18v3h-15v-3H3v3a1.5 1.5 0 0 0 1.5 1.5h15A1.5 1.5 0 0 0 21 21v-3h-1.5Z"></path>
                        <path d="m19.5 10.5-1.058-1.057-5.692 5.684V1.5h-1.5v13.627L5.558 9.444 4.5 10.5 12 18l7.5-7.5Z"></path>
                    </svg>
                    Descargar PDF
                </button>
                <button class="btn-prim center-center-row hover" (click)="addAdvisedStudent()">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 10.5h-3v-3h-1.5v3h-3V12h3v3H21v-3h3v-1.5Z"></path>
                        <path d="M9 3a3.75 3.75 0 1 1 0 7.5A3.75 3.75 0 0 1 9 3Zm0-1.5A5.25 5.25 0 1 0 9 12 5.25 5.25 0 0 0 9 1.5Z"></path>
                        <path d="M16.5 22.5H15v-3.75A3.75 3.75 0 0 0 11.25 15h-4.5A3.75 3.75 0 0 0 3 18.75v3.75H1.5v-3.75a5.25 5.25 0 0 1 5.25-5.25h4.5a5.25 5.25 0 0 1 5.25 5.25v3.75Z"></path>
                    </svg>
                    Registrar
                </button>
            </div>

            <div class="input-search">
                <input type="text" name="" id="" placeholder="Buscar por nombre o correo">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m21.75 20.692-5.664-5.664a8.264 8.264 0 1 0-1.06 1.061l5.664 5.664 1.06-1.06ZM3 9.753a6.75 6.75 0 1 1 6.75 6.75A6.758 6.758 0 0 1 3 9.753Z"></path>
                </svg>
            </div>
        </div>

        @if(adviseds.length >= 1){
          @defer(on timer(2000ms)){
            <main class="mb-24">
              <table>
                <thead>
                  <tr>
                    <th class="text-normal">No</th>
                    <th class="text-normal">Nombre</th>
                    <th class="text-normal">Numero control</th>
                    <th class="text-normal">Correo</th>
                    <th class="text-normal">Asignacion</th>
                    <th class="text-normal">Periodo</th>
                  </tr>
                </thead>
                <tbody>
                  @for(advised of adviseds; track $index; let i = $index){
                    <tr>
                      <td class="text-small">{{ i + 1}}</td>
                      <td class="text-small">{{ advised.alumno.nombre }}</td>
                      <td class="text-small">{{ advised.alumno.numeroControl }}</td>
                      <td class="text-small">{{ advised.alumno.correo }}</td>
                      <td class="text-small">{{ advised.fechaAsignacion }}</td>
                      <td class="text-small">{{ advised.periodo }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </main>
  
            <div class="pagination center-center-row">
              <button class="btn-prim">Ant</button>
              <button class="btn-sec">1</button>
              <button class="btn-sec">2</button>
              <button class="btn-sec">3</button>
              <button class="btn-prim">Sig</button>
            </div>
          }@placeholder(minimum 2s;){
            <div class="center-center-column loading">
              <div class="loader"></div>
              <span class="text-small mt-24"> Cargando informacion  </span>
            </div>
          }
        }@else if (adviseds.length === 0 && requestCompleted()){
          <div class="center-center-column empty">
            <span class="text-small"> No tienes alumnos asesorados por el momento </span>
          </div>
        }
    </article>
</section>